{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-use-before-define": ["error", { "variables": false }],
    "func-names": 0
  },
  "env": {
    "jest": true
  },
  "globals": {
    "fetch": true,
    "fetchMock": true,
    "window": true,
    "document": true,
    "alert": true
  }
}